center{
	padding-top: 20px;
}
p{
	text-align: justify;
	margin: 50px;
	margin-top: 5px;
}
.p1{
	margin-top: -35px;
}
.p2{
	margin-top: -20px;
	margin-bottom: 30px;
}
.p3{
	margin-left: 110px;
}
.p4{
	margin-bottom: 10px;
}
table{
	margin-left: 100px;
}
button{
	margin-left: 85%;
	margin-bottom: 20px;
}